@model MvcApplication.Models.chartData

@{
    ViewBag.Title = Model.seriesName;
}
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '@Model.chartTitle'
            },
            xAxis: {
                labels: { rotation: -45 },
                categories: [@Html.Raw(string.Join(",",@Model.dates.ToArray()))]
            },
            yAxis: [{
                title: {
                    text: '@Html.Raw(Model.axisTitle)'
                }
            }],
            series: [{
                name: '@Model.seriesName',
                data: [@string.Join(",", @Model.series1.ToArray())]
            }, {
                type: 'spline', name: 'Seven Day @Model.seriesName',
                data: [@string.Join(",", @Model.series2.ToArray())]
            }]
        });

    });

</script>
<div id="dateSelect">
    @Html.Partial("DateSelect",Model)
</div>