@model MvcApplication.Models.chartData
@using (Html.BeginForm(Model.seriesName, "Home", FormMethod.Post))
{
    if (!Model.day)
    {
        <div style="display:inline-block">
            @Html.Label("startDate", "Date From: ")<span></span>
            @Html.TextBox("startDate", Model.startDate.ToShortDateString(), new { @class = "datepicker", type = "text", id = "start" })
        </div>
        <div style="display:inline-block">
            @Html.Label("endDate", "Date To: ", new { style = "margin-left:20px" })<span></span>
            @Html.TextBox("endDate", Model.endDate.ToShortDateString(), new { @class = "datepicker", type = "text", id = "end" })
        </div>
    }
    else
    {
        <div style="display:inline-block">
            @Html.Label("startDate", "Date From: ")
            @Html.TextBox("startDate", Model.startDate.ToShortDateString(), new { @class = "datepicker", type = "text", id = "start" })
        </div>
    }
    <input type="submit" name="Submit" value="Submit" />
}

