@model MvcApplication.Models.chartData
<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/logofavicon.png")"/>
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/datepicker.css")" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.3.js")"></script>
</head>
<body>    
    <div id="head" ><a href="@Url.Content("~/")"><img src="@Url.Content("~/Content/Images/logo.png")"/></a><h1>Electricity Market Analyser</h1></div>
    <div id="nav">  
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "Index")
            {<input type="submit" name="Submit" value="HOME" id="selected" style="background-color:darkgray"/>}
            else
            {<input type="submit" name="Submit" value="HOME" />}
        }
        @using (Html.BeginForm("LWA", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "LWA")
            {<input type="submit" name="Submit" value="LWA" id="selected" style="background-color:darkgray" />}
            else
            {<input type="submit" name="Submit" value="LWA" />}
        }
        @using (Html.BeginForm("Max_SMP", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "Max_SMP")
            {<input type="submit" name="Submit" value="MAX SMP" id="selected" style="background-color:darkgray" />}
            else
            {<input type="submit" name="Submit" value="MAX SMP" />}
        }
        @using (Html.BeginForm("Min_SMP", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "Min_SMP")
            {<input type="submit" name="Submit" value="MIN SMP" id="selected" style="background-color:darkgray" />}
            else
            {<input type="submit" name="Submit" value="MIN SMP" />}
        }
        @using (Html.BeginForm("Shadow_SMP", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "Shadow_SMP")
            {<input type="submit" name="Submit" value="SHADOW VS SMP" id="selected" style="background-color:darkgray" />}
            else
            {<input type="submit" name="Submit" value="SHADOW VS SMP" />}
        }
        @using (Html.BeginForm("Load_SMP", "Home", FormMethod.Post))
        {
            @Html.Hidden("startDate", Model.startDate.ToShortDateString(), new { id = "startform" })
            @Html.Hidden("endDate", Model.endDate.ToShortDateString(), new { id = "endform" })
            if (Model.seriesName == "Load_SMP")
            {<input type="submit" name="Submit" value="LOAD VS SMP" id="selected" style="background-color:darkgray" />}
            else
            {<input type="submit" name="Submit" value="LOAD VS SMP" />}
        }
    </div>
    @RenderBody()
    <script>$(".datepicker").datepicker({dateFormat:'dd/mm/yy'});</script>
</body>
</html>
